// Place all the styles related to the Diary_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$green: #84AD47;
$red: #AD4747;
$blue: #4784AD;

h1 {
    text-align: center;
    border-bottom: solid 3px black;
  }


form {
  width: 80%;
  margin: 10% auto;
  min-width: 9rem;
}
  
input, textarea {
  float: left;
  width: 100%;
  max-width: 100%;
  border: none;
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  background: darken(#f9f9f9, 10%);
  color: darken(#f9f9f9, 50%);
  
  &[type=submit] {
    background: $green;
    color: #fff;
    width: auto;
    float: right;
  }

  &::placeholder {
    color: darken(#f9f9f9, 50%);
  }

  &.error {
    background: $red;
    color: #fff;
    &::placeholder {
      color: darken($red, 60%);
    }
  }
}
textarea {
  height: 10rem;
}


// Generic Styles ;)
* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v7/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}

body {
  background: #f9f9f9;
  color: #2f2f2f;
  font-family: 'Open Sans';
}